body {
  text-align: center;
}
h1 {
  color: blue;
.container {
width: 100%;
height: 225px;
}
.square {
  background-color: white;
  opacity: 0.5;
  height: 500px;
  width: 500px;
  position: absolute;
  left: 700px;
  bottom: 225px;
  /* this is a css comment*/
}
#teal {
  background-color: #10e7e2;
}
#purple {
  background-color: #ca7cd8;
}
#red {
  background-color: #ff2153;
}
#yellow {
  background-color: #f9eb0f;
}
